<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs117.project.bluetooth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs117.project.bluetooth.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs117.project.bluetooth.Find_Devices"
            android:label="@string/title_activity_find__devices"
            android:parentActivityName="cs117.project.bluetooth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs117.project.bluetooth.MainActivity" />
        </activity>
        <activity
            android:name="cs117.project.bluetooth.Connect_device"
            android:label="@string/title_activity_connect_device" >
        </activity>
    </application>

</manifest>